{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"
        integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js"
        integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia&effect=fire">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <style>
        * {
            padding: 0;
            margin: 0;
        }

        body {
            background-image: url("{% static 'bg.jpg' %}");
            background-size: cover;
            color: white;
            padding: 1rem;
            font-family: "Sofia", sans-serif;
        }

        .container {
            margin: 1.2rem;
            padding: 10px;
            align-items: center;
        }

        .middle {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        label {
            margin-right: 10px;
        }

        option {
            background-color: antiquewhite;
            border: 4px solid #4285F4;
            border-radius: 10%;
        }

        .form-group {
            border-bottom: 2px solid white;
        }
    </style>
</head>

<body>
    <div class="container" style>
        <div class="row middle" style="text-align: center; color: black; font-weight: 900;margin-bottom: 5px">
            <div class="col-md-6 " style="background-color: #F9A602;">
                <h3>Enter Detail Regarding your product</h3>
            </div>
        </div>
        <div class="row middle" style="color: black; font-size: 30pt;">
            <div class="col-md-6" style="background-color: #FEEB75; border-radius:10px;">
                <form action="/predict" method="POST" enctype="multipart/form-data" style="padding:20px; margin:20px;">
                    {% csrf_token %}
                    <div class="form-group" style="display: flex;align-items: center;">
                        <label>Country</label>
                        <select class="form-control" id="country" name="countries">
                            <option value="empty">Select Country</option>
                            <option value="USA">USA</option>
                            <option value="india">india</option>
                            <option value="france">france</option>
                            <option value="canada">canada</option>
                            <option value="iran">iran</option>
                            <option value="germany">germany</option>
                            <option value="japan">japan</option>
                            <option value="china">china</option>
                            <option value="spain">spain</option>
                            <option value="italy">italy</option>
                            <option value="uk">uk</option>
                            <option value="korea">korea</option>
                            <option value="newzealand">newzealand</option>
                            <option value="pakistan">pakistan</option>
                            <option value="brazil">brazil</option>
                        </select>

                    </div>

                    <div class="form-group" style="display: flex;align-items: center;">
                        <label>Category</label>
                        <select id="category" name="categories" class="form-control">
                            <option value="empty" name="categories">Select Category</option>
                            <option value="fashion">fashion</option>
                            <option value="actor">actor</option>
                            <option value="chef">chef</option>
                            <option value="singer/makeup">singer/makeup</option>
                            <option value="photography">photography</option>
                            <option value="singer">singer</option>
                            <option value="sports">sports</option>
                            <option value="fashion/makeup">fashion/makeup</option>
                        </select>
                    </div>
                    <div class="form-group" style="display: flex;align-items: center;">
                        <label style="font-size:20pt;font-weight: 600; margin-top:10px;">Product Details</label>
                        <textarea name="productDetail" class="form-control"></textarea>
                    </div>

                    <div class="form-group" style="display: flex;align-items: center;">
                        <label style="font-size:20pt;font-weight: 600; margin-top:10px;">Related # @</label>
                        <textarea name="hastags" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" id="submitBtn" class="btn btn-success" required style="width:100%">
                    </div>
                </form>
            </div>
        </div>

    </div>
</body>

</html>